:root,
body {
  font-weight: bold;
  background-color: aliceblue;
}
ul {
  display: flex;
  justify-content: end;
  height: 5%;
}
li {
  list-style-type: none;
  padding-left: 2rem;
}
.first {
  height: 70%;
}
.staticnav {
  height: 20%;
}
.hey {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 5px;
  width: 100%;
  height: 50%;
  margin-bottom: 15px;
}
.hey .inside {
  text-align: center;
  height: 20rem;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 237, 243);
}

.four:hover {
  border-top: none;
  border-right: none;

  box-shadow: 5px 5px 5px aliceblue inset;
}
p {
  color: black;
}
.inside .four {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  backdrop-filter: blur(100px);
}
.insideone {
  grid-column-start: span 2;

  position: relative !important;

  background-position: center;
  border-image: linear-gradient(to right, #42536c, #ff32d6) 2 2 2 2;
}
.insideone div {
  position: absolute;
  background-color: white;
  top: 0%;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
form {
  width: inherit;
}
form,
input,
button {
  margin: 2px;
}
a:hover {
  background-image: linear-gradient(to right, red, blue);
  background-clip: text;
  color: transparent;
}
input {
  width: 50%;
  border: none;
  background-color: rgb(200, 225, 247);
}
input::content {
  color: red;
}
::placeholder {
  color: transparent;
  background-image: radial-gradient(rgb(56, 84, 84));
  background-clip: text;
  font-weight: lighter;
  font-style: normal;
  letter-spacing: 0px;
}
button {
  background-color: rgb(239, 235, 235);
  color: black;
  border: none;
  height: 40px !important;
  width: 100px;
}
button:hover {
  border: none;
  box-shadow: 2px 2px 2px white;
  filter: none;
}
button,
input {
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3));
  height: 100%;
}

.footer {
  background-position: center;
  width: 100%;
  height: 20vh;
  bottom: 0;
  display: flex;
}

.firstp {
  width: 50%;
  height: 100%;
  backdrop-filter: blur(25px);
  padding: 3px 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-weight: lighter;
}
.firstp dt {
  color: rgb(56, 84, 84);
}
.secondP {
  width: 50%;
  background-image: linear-gradient(to right, purple, orange);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-gap: 3px;
}
.secondP code {
  background-image: linear-gradient(purple, orange);
  background-clip: text;
  color: transparent;
}
.secondP div:nth-of-type(1),
.secondP div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(200px);
  background-position: center;
  background-size: contain;
  text-align: center;
  background-color: rgb(221, 235, 247);
}

.disc {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(73, 65, 73),
    orange
  ) !important;
  color: aliceblue !important;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0.1px 0.1px 0.1px black;
  border-left: 2px solid #42536c;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 5px;
}

.Picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: none;
}
.divider {
  font-size: 30px;
}
dd {
  padding-left: 10px;
}
