@media screen and (max-width: 600px) {
  .hey {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
    width: 100%;
    height: 50%;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 601px) and (max-width: 768px) {
}
@media screen and (min-width: 769px) and (max-width: 992px) {
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
}
